@font-face {
	font-family: 'bebas';
	src: url('../font/bebas/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
	src: url('../font/bebas/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/bebas/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../font/bebas/BebasNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('../font/bebas/BebasNeue-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../font/bebas/BebasNeue-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'gloss';
	src: url('../font/gloss/GlossAndBloom.eot'); /* IE9 Compat Modes */
	src: url('../font/gloss/GlossAndBloom.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/gloss/GlossAndBloom.woff2') format('woff2'), /* Super Modern Browsers */
	url('../font/gloss/GlossAndBloom.woff') format('woff'), /* Pretty Modern Browsers */
	url('../font/gloss/GlossAndBloom.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../font/gloss/GlossAndBloom.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
	font-family: bebas;
	text-transform: uppercase;
	color: #000;
}

/* remove glow */
.btn, button, .navbar-toggler, .navbar {
	outline: none;
	border:1px solid transparent !important;
	box-shadow:none !important;
}

input, textarea {
	outline: none;
	border:1px solid #ccc !important;
	box-shadow:none !important;
}


a {
	color: #fff !important;
}

a:hover {
	color: #ff0000 !important;
	text-decoration: none;
}

.active {
	color: #ff0000 !important;
	pointer-events: none !important;
	cursor: default !important;
}

textarea {
	resize: none;
}

h1, h2, p {
	margin: 0 !important;
	padding: 0 !important;
}


/* Navbar */
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ff0000;
}

.navbar-dark {
	background-color: #000000 !important;
}

.navbar-brand img {
	height: 3em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.navbar-dark .navbar-toggler {
	border-color: #000000;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


/* Font Size */
.small {
	font-size: 1em;
}

.medium {
	font-size: 1em;
}

.large {
	font-size: 1.8em;
}


/* Spacing */
.small-top {
	margin-top: 0.5em !important;
}

.medium-top {
	margin-top: 1.5em !important;
}

.large-top {
	margin-top: 3em !important;
}

.small-bottom {
	margin-bottom: 0.5em !important;
}

.medium-bottom {
	margin-bottom: 1.5em !important;
}

.large-bottom {
	margin-bottom: 3em !important;
}


/* Button */
.btn-custom {
	transition: background-color 0.5s ease;
	text-transform: uppercase;
	border-radius: 0px;
	background-color: #ff0000;
	width: 60%;
	color: #fff;
	padding: 10px 20px;
}

.btn-custom:hover {
	transition: background-color 0.5s ease;
	text-transform: uppercase;
	background-color: #d20000;
	color: #fff;
}

.social-button {
	display: inline;
	margin: 5px;
	width: 50px;
	opacity: 0.6;
}

.social-button:hover {
	opacity: 1;
}


/* Slick Carousel */
.slick-car {
	color: #ffffff !important;
}

.slick-content{
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: #000000;
}


/* Title */
.gloss {
	font-family: gloss;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
}

.gloss:after {
	content: url('../img/assets/underline.png');
	display: block;
	transform: scale(.4);
	margin-top: -0.3em;
	margin-right: 2em;
}


/* Home */
.home-cover{
	border-radius: 0 !important;
	height: 350px !important;
	margin-top: 5em;
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/home/cover.jpg") no-repeat center center; 
	background-size: cover;
}

.home-product {
	background-color: #000;
	color: #fff;
}

.home-product .row {
	margin-top: -3em;
}


.home-place {
	padding: 0 0 3em 0;
	background-color: #000;
	color: #fff;
}

.home-place iframe {
	margin-bottom: -15em;
}

.home-place-button {
	padding: 13em 0 0em 0;
	background-color: #fff;
}

.home-partner {
	padding: 3em 0 3em 0;
}

.home-partner img {
	height: 120px;
	margin: 1em 2em 2em 2em;
}

.home-social img {
	width: 100%;
}

.home-message {
	text-shadow: 0 0 30px #000000;
	color: #fff;
	background: url("../img/home/promo.jpg") no-repeat center center; 
	background-size: cover;
	margin: 0 auto;
	height: 400px;
}

.home-message .row {
	padding-top: 6em;
}


/* Sections */
.social-content, .product-content, .promotion-content, .message-content, .partner-content {
	margin-top: -6em;
}

.section-cover {
	display: none;
}

.jumbotron {
	border-radius: 0 !important;
	height: 200px !important;
	margin-top: 5em;
}

.color-title {
	color: #fff !important;
}

/* Product Section */
.jumbotron-product {
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/cover-product.jpg") no-repeat center center; 
	background-size: cover;
}

.product-content hr {
	margin: 0 0 1.5em 0;
}

.product-content img {
	width: 200px;
}


/* Store */
.jumbotron-store {
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/cover-store.jpg") no-repeat center center; 
	background-size: cover;
}
.store-content {
	margin-top: -8.5em;
}

.store-list hr {
	margin: 1.5em 0 1.5em 0;
}


/* Partner */
.jumbotron-partner {
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/cover-partner.jpg") no-repeat center center; 
	background-size: cover;
}

.partner-content img {
	height: 100px;
	margin: 1em 2em 2em 2em;
}


/* Promotion */
.jumbotron-promotion {
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/cover-promotion.jpg") no-repeat center center; 
	background-size: cover;
}

.card-footer {
	background-color: #fff;
}

/* Social */
.jumbotron-social {
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/cover-social.jpg") no-repeat center center; 
	background-size: cover;
}


/* Message */
.jumbotron-message {
	background: linear-gradient(transparent, rgba(0,0,0,1)), url("../img/cover-message.jpg") no-repeat center center; 
	background-size: cover;
}


/* Footer */
footer {
	padding-top: 5em;
	height: 400px;
	background-color: #000;
	color: #fff;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {	
	/* Font size */
	.small {
		font-size: 1.1em;
	}

	.medium {
		font-size: 1.3em;
	}

	.large {
		font-size: 2.5em;
	}


	/* Title */
	.gloss:after {
		transform: scale(.6);
		margin-top: -0.3em;
		margin-right:0;
	}


	/* Buttons */
	.btn-custom {
		transition: background-color 0.5s ease;
		text-transform: uppercase;
		border-radius: 0px;
		background-color: #ff0000;
		width: 30%;
		color: #fff;
	}


	/* Navbar */
	.navbar {
		padding-left: 15em;
	}

	.navbar-brand {
		padding-right: 1em;
	}


	/* Home */
	.home-cover{
		height: 650px !important;
	}

	.text-header {
		margin-top: -10em;
	}

	.home-partner img {
		height: 100px;
		margin: 1em 2em 2em 2em;
	}


	/* Sections */
	.section-cover {
		width: 100%;
		height: 350px;
		margin-top: 3em;
		display: block;
	}

	.jumbotron {
		background: linear-gradient(#158c58, #89e778) no-repeat center center; 
		background-size: cover;
		border-radius: 0 !important;
		height: 350px !important;
		margin-top: 2em;
	}

	.color-title {
		color: #000000 !important;
	}


	/* Product */
	.product-content {
		margin-top: 9em;
		margin-bottom: 9em;
	}

	.product-content img {
		width: 300px;
	}


	/* Store */
	.store-content {
		margin-top: 9em;
		margin-bottom: 0;
	}


	/* Partner */
	.partner-content {
		margin-top: 9em;
		margin-bottom: 0;
	}


	/* Promotion */
	.promotion-content {
		margin-top: 9em;
		margin-bottom: 0;
	}

	.card .btn-custom {
		width: 80%;
	}


	/* Social */
	.social-content {
		margin-top: 9em;
		margin-bottom: 0;
	}


	/* Message */
	.message-content {
		margin-top: 9em;
		margin-bottom: 0;
	}


	/* Footer */
	footer {
		padding-top: 9em;
	}

}